.container {
  display: flex;
}

.input {
  flex: 1 1;
  position: relative;
}

.output {
  flex: 0 0 300px;
  padding-left: 100px;
}

.img {
  display: block;
  width: 200px;
  height: 200px;
}

.noImg {
  background: #eee;
  text-align: center;
  line-height: 200px;
}

.textarea {
  padding: 16px;
  height: 200px !important;
  resize: none;
}

.btn_box {
  text-align: center;
  padding-top: 6px;
}

.history {
  padding-top: 32px;
}
