.base64_submit {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;

  label {
    cursor: pointer;
  }
}

.base64_text {
  padding: 0 20px 20px 20px;
  word-wrap: break-word;
  word-break: normal;
}
