.base64_submit {
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
  margin-bottom: 12px;

  label {
    cursor: pointer;
  }
}

.tip {
  font-size: 12px;
  padding: 4px 2px;
}

.img {
  max-width: 100%;
}
